<div class="module taptoemail {{position}}" ng-controller="taptoemailController">
    <koa-button translate ng-click="goToLink('mailto:{{email}}')" class="top-text title-text" ng-if='buttonType === "standard"'>{{caption}}</koa-button>
    <koa-button big ng-click="goToLink('mailto:{{email}}')" class="top-text title-text" ng-if='buttonType === "big"'>{{caption}}</koa-button>
</div>
